<div
  style='
    box-sizing: border-box;
    caret-color: rgb(72, 101, 137);
    color: rgb(72, 101, 137);
    font-family: Helvetica, system-ui, sans-serif;
    font-size: 17px;
  '>
  <table
    border='0'
    cellpadding='0'
    cellspacing='0'
    style='box-sizing: border-box'
    width='500'>
    <tbody>
    <tr style='box-sizing: border-box'>
      <td style='box-sizing: border-box; margin: 0.1px'>
        <table
          border='0'
          cellpadding='0'
          cellspacing='0'
          style='box-sizing: border-box'>
          <tbody>
          <tr style='box-sizing: border-box'>
            <td
              style='
                    box-sizing: border-box;
                    padding: 0px 8px 0px 0px;
                    vertical-align: top;
                  '
              valign='top'>
              <img
                alt='Stoica Ovidiu'
                src='https://img.mysignature.io/p/3/8/c/38c7fb0c-1c47-5e56-8b13-998c48f30cea.png?time=1622186685'
                style='
                      border-radius: 80px;
                      box-sizing: border-box;
                      vertical-align: middle;
                      max-width: 80px;
                      position: relative;
                      width: 80px;
                    '
                width='50' />
            </td>
            <td
              style='
                    box-sizing: border-box;
                    margin: 0.1px;
                    font-size: 1em;
                    padding: 0px 15px 0px 8px;
                    vertical-align: top;
                  '
              valign='top'>
              <table
                border='0'
                cellpadding='0'
                cellspacing='0'
                style='
                      box-sizing: border-box;
                      font-family: Helvetica, sans-serif;
                      line-height: 1.2;
                      font-size: 14px;
                      color: rgb(0, 0, 1);
                    '>
                <tbody>
                <tr style='box-sizing: border-box'>
                  <td style='box-sizing: border-box; margin: 0.1px'>
                    <div style='box-sizing: border-box; font-size: 1em'>
                      Ovidiu Stoica
                    </div>
                  </td>
                </tr>
                <tr style='box-sizing: border-box'>
                  <td
                    style='
                            box-sizing: border-box;
                            margin: 0.1px;
                            padding: 4px 0px;
                          '>
                    <div style='box-sizing: border-box'>
                      Software Developer
                    </div>
                  </td>
                </tr>
                <tr style='box-sizing: border-box'>
                  <td style='box-sizing: border-box; margin: 0.1px'>
                      <span
                        style=' box-sizing: border-box;
                                color: rgb(99, 204, 200); '
                      >phone:&nbsp;</span
                      >&nbsp;<span style='box-sizing: border-box'
                  ><a
                    href='tel:+40745901643'
                    style=' box-sizing: border-box;
                                  transition: color 0.3s ease;
                                  text-decoration: none;
                                  color: rgb(0, 0, 1);
                                '
                  >+40745901643</a
                  ></span>
                  </td>
                </tr>
                <tr style='box-sizing: border-box'>
                  <td style='box-sizing: border-box; margin: 0.1px'>
                    <span
                      style='
                                box-sizing: border-box;
                                color: rgb(99, 204, 200);
                              '
                    >website:&nbsp;</span
                    >&nbsp;<span style='box-sizing: border-box'
                  >
                    <a
                      href='https://www.ovistoica.com'
                      style=' box-sizing: border-box;
                                  transition: color 0.3s ease;
                                  text-decoration: none;
                                  color: rgb(0, 0, 1);
                                '
                      target='_blank'
                    >ovistoica.com</a
                    ></span>
                  </td>
                </tr>
                <tr style='box-sizing: border-box'>
                  <td style='box-sizing: border-box; margin: 0.1px'>
                          <span
                            style='
                              box-sizing: border-box;
                              color: rgb(99, 204, 200);
                            '
                          >email:&nbsp;</span
                          >&nbsp;<span style='box-sizing: border-box'>
                            <a
                              href='mailto:ovidiu.stoica1094@gmail.com'
                              style='
                                box-sizing: border-box;
                                transition: color 0.3s ease;
                                text-decoration: none;
                                color: rgb(0, 0, 1);
                              '
                              target='_blank'
                            >ovidiu.stoica1094@gmail.com</a
                            ></span
                  >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
